.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

## Package-specific files:
# RocksDB
apache-tomcat-10.0.20/webapps/ROOT/rocksdb/*
LOCK
LOG

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# program output
spider_result.txt
inverted_file.txt

# class files
apache-tomcat-10.0.20/webapps/ROOT/WEB-INF/classes/MainClass.class
apache-tomcat-10.0.20/webapps/ROOT/WEB-INF/classes/*
apache-tomcat-10.0.20/work/Catalina/ROOT/org/apache/jsp/*
apache-tomcat-10.0.20/logs/*